	{% extends 'base.html' %}

{% block header %}

{% endblock %}


{% block content %}
<div class="jumbotron jumbotron-fluid card" style="background-color: rgba(0,0,0,.03);
border-bottom: 1px solid rgba(0,0,0,.125); margin: 3.5em;">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="" style="margin-bottom: 30px; font-size: 4em; text-align: center;">What do we do?</h1>
				<p class="lead" style='font-size: 1.5em; font-weight: 300;'>Reach facilitates a connection between those with substance abuse issues and Certified Recovery Specialists. Reach can facilitate the warm handoff, but more importantly, it can facilitate what people in recovery need, not a warm handoff, but a recovery coach.</p>
			</div>

		<!-- 	<div class="col offset-2">
				<h1 class="" style="margin-bottom: 30px; font-size: 4em;">Get Help Now</h1>
				<form class="form-inline" action="/submit" method="POST">
					 <div class="form-group mx-sm-3 mb-2">
						 <label for="phone" class="sr-only">Phone Number:</label>
						 <input type="text" name="number" class="form-control" id="phone" placeholder="215-555-5555">
					 </div>
					 <button type="submit" class="btn btn-primary mb-2">Submit</button>
				 </form>

					<p style="margin-top: 30px; font-size: 1.5em;">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
			</div> -->
		</div>
	</div>
</div>

		<div class="card border-light card-header" style="text-align: center; margin: 3.5em;">
			<h2 class="" style="margin-bottom: 30px; font-size: 4em; font-weight: 400;">Get Help Now</h2>
			<h2 class="" style="margin-bottom: 30px; font-size: 3.5em; font-weight: 400;">215-618-9517</h2>
				<form class="form-inline" action="/submit" method="POST" style="margin: 0 auto;">
					 <div class="form-group mx-sm-3 mb-2">
						 <label for="phone" class="sr-only">Phone Number:</label>
						 <input type="text" name="number" class="form-control" id="phone" placeholder="215-555-5555">
					 </div>
					 <button type="submit" class="btn btn-primary mb-2">Submit</button>
				 </form>

					<p style="margin-top: 30px; font-size: 1.8em;">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
		</div>

	<div class="card-header" style="font-size: 2em; text-align: center; display: flex; justify-content: center; margin: 1.8em;">
		<h2 class='' style="font-size: 2em; font-weight: 400; margin: 1em auto;">
			How does it work?
		</h2>
	</div>

	<div class="card border-light" style='margin: 3.5em;'>
		<div class="card-body card-header" style='text-align: center;'>
			<h5 class="card-title">
				<span style="font-size: 7em; color: #1a8cff;">
					<i class="far fa-address-card"></i>
				</span>
			</h5>
			<p class="card-text" style='font-size: 1.8em; font-weight: 300;'>Individual consents to connecting with a Certified Recovery Specialist through Reach.</p>
		</div>
	</div>

	<!-- <div class='card-header'> </div> -->

	<div class="card border-light" style='margin: 3.5em;'>
		<div class="card-body card-header" style='text-align: center;'>
			<h5 class="card-title">
				<span style="font-size: 7em; color: #1a8cff;">
					<i class="fas fa-mobile-alt"></i>
				</span>
			</h5>
			<p class="card-text" style='font-size: 1.8em; font-weight: 300;'>Reach connects the CRS directly to the individual through SMS.</p>
		</div>
	</div>

	<div class="card border-light card-header" style='margin: 3.5em;'>
		<div class="card-body" style='text-align: center;'>
			<h5 class="card-title">
				<span style="font-size: 7em; color: #1a8cff;">
					<i class="fas fa-bullseye"></i>
				</span>
			</h5>
			<p class="card-text" style='font-size: 1.8em; font-weight: 300;'>The CRS coordinates meeting with the patient as early as possible. The Individual and CRS develop a plan and create some goals.</p>
		</div>
	</div>

	<div class="card border-light card-header" style='text-align: center; margin: 3.5em;'>
		<div class="card-body">
			<h5 class="card-title">
				<span style="font-size: 7em; color: #1a8cff;">
					<i class="far fa-smile"></i>
				</span>
			</h5>
			<p class="card-text" style='font-size: 1.8em; font-weight: 300;'>The CRS follows up on the individual to help them achieve their goals.</p>
		</div>
	</div>

	<!-- <div class="card border-light card-header" style="text-align: center; margin: 3.5em;">
				<h1 class="" style="margin-bottom: 30px; font-size: 4em;">Get Help Now</h1>
				<form class="form-inline" action="/submit" method="POST" style="margin: 0 auto;">
					 <div class="form-group mx-sm-3 mb-2">
						 <label for="phone" class="sr-only">Phone Number:</label>
						 <input type="text" name="number" class="form-control" id="phone" placeholder="215-555-5555">
					 </div>
					 <button type="submit" class="btn btn-primary mb-2">Submit</button>
				 </form>

					<p style="margin-top: 30px; font-size: 1.8em;">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
	</div> -->
</div>

{% endblock %}
